:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

html,
body,
.app,
.game {
  min-height: 100vh;
  overscroll-behavior: contain;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition:
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out,
    border-color 0.5s ease-in-out,
    border-top-color 0.5s ease-in-out,
    border-right-color 0.5s ease-in-out;
}

.game.dark {
  color: var(--nord4);
  background-color: var(--nord0);
}

.game.light {
  color: var(--nord0);
  background-color: var(--nord4);
}

::selection {
  color: var(--nord0);
  background-color: var(--nord4);
}

.app-header {
  min-height: 10vh;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.dark .app-header {
  color: var(--nord4);
  background-color: var(--nord1);
}

.light .app-header {
  color: var(--nord0);
  background-color: var(--nord5);
}

.app-link {
  color: var(--nord10);
}

.modal-bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 60%);
  transition: all 0.5s ease-in-out;
}

.modal {
  width: 80 vmin;
  height: auto;
  padding-top: 0;
  transition: inherit;
}

.dark .modal {
  background: var(--nord0);
}

.light .modal {
  background: var(--nord4);
}

.modal-head {
  overflow: auto;
  padding: 2px;
}

.dark .modal-head {
  color: var(--nord10);
  background-color: var(--nord2);
}

.light .modal-head {
  color: var(--nord10);
  background-color: var(--nord5);
}

.modal-head > h1 {
  margin: 0;
}

.modal-content {
  margin: 4px;
}

.dark .modal-content {
  color: var(--nord4);
  background-color: var(--nord0);
}

.light .modal-content {
  color: var(--nord0);
  background-color: var(--nord4);
}

.modal-buttonbar {
  padding: 5px;
}

.dark .modal-buttonbar {
  background-color: var(--nord0);
}

.light .modal-buttonbar {
  background-color: var(--nord4);
}

.modal-bg.modal-hide {
  visibility: hidden;
  z-index: -1;
  background: rgb(0 0 0 / 0%);
}

.modal-bg.modal-display {
  visibility: visible;
  z-index: 10;
}

.modal-hide > .modal {
  transform: scale(0);
}

.modal-display > .modal {
  transform: scale(1);
}

.modal input {
  font-size: calc(1rem + 1.5vmin);
  color: inherit;
  align-items: inherit;
  text-align: inherit;
  padding: 0;
  margin: 3px;
  width: inherit;
}

.dark .modal input {
  border: 1px solid var(--nord1);
  background-color: var(--nord1);
  font-size: calc(1rem + 1.5vmin);
  color: inherit;
  align-items: inherit;
  text-align: inherit;
  padding: 0;
  margin: 3px;
  width: inherit;
}

.light .modal input {
  border: 1px solid var(--nord5);
  background-color: var(--nord5);
  font-size: calc(1rem + 1.5vmin);
  color: inherit;
  align-items: inherit;
  text-align: inherit;
  padding: 0;
  margin: 3px;
  width: inherit;
}

.score-board {
  border: 2px solid;
  border-collapse: collapse;
  /* min-height: 80vh; */
  /* max-height: 90vh; */
  max-width: 90vw;
  font-size: calc(1rem + 1.5vmin);
}

.dark .score-board {
  border-color: var(--nord4);
}

.light .score-board {
  border-color: var(--nord1);
}

.score-header > th {
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding-right: 4px;
}

.score-header > th:nth-child(1) {
  height: 0;
  margin: 0;
  padding: 0;
}

#numbersum-row,
#totalsum-row {
  border-top: 2px solid;
  padding-right: 4px;
  font-weight: bold;
}

.dark #numbersum-row,
.dark #totalsum-row {
  background-color: var(--nord10);
  border-top-color: var(--nord4);
  border-right-color: var(--nord4);
  transition:
    border-top-color 0.5s ease-in-out,
    border-right-color 0.5s ease-in-out;
}

.light #numbersum-row,
.light #totalsum-row {
  background-color: var(--nord9);
  border-top-color: var(--nord1);
  border-right-color: var(--nord1);
  transition:
    border-top-color 0.5s ease-in-out,
    border-right-color 0.5s ease-in-out;
}

#bonus-row {
  border-bottom: 2px solid;
  padding-right: 4px;
}

.score-board tr > th:nth-child(1) {
  text-align: right;
  border-right: 2px solid;
  border-right-color: inherit;
  padding-right: 4px;
}

.dark .score-row:nth-child(odd) {
  background-color: var(--nord1);
}

.dark .score-row:nth-child(even) {
  background-color: var(--nord0);
}

.light .score-row:nth-child(odd) {
  background-color: var(--nord4);
}

.light .score-row:nth-child(even) {
  background-color: var(--nord5);
}

.score-row > td {
  border: none;
  border-right: 1px solid;
  border-color: var(--nord4);
  padding: 0;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 60px;
}

.light .score-row > td > input,
.dark .score-row > td > input {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  align-items: inherit;
  text-align: inherit;
  padding: 0;
  margin: 0;
  width: calc(100% - 2px);
}

.dark .score-row > td {
  border-color: var(--nord4);
}

.light .score-row > td {
  border-color: var(--nord1);
}

.dark .modal input:focus,
.light .modal input:focus {
  outline: none;
  border: solid 1px var(--nord10);
}

@keyframes wrong-value {
  0% { background-color: var(--nord11); }
  100% { background-color: transparent; }
}

td.wrong-value {
  border-color: var(--nord4);
  animation-name: wrong-value;
  animation-duration: 0.4s;
}

.dark td.ok-value {
  color: var(--nord4);
}

.light td.ok-value {
  color: var(--nord0);
}

td.low-value {
  border-color: var(--nord4);
  color: var(--nord11);
}

td.good-value {
  border-color: var(--nord4);
  color: var(--nord14);
}

.dark .score-row > td > input:focus,
.light .score-row > td > input:focus {
  outline: none;
}

.dark .score-row > td.cell-selected {
  border-color: var(--nord4);
  color: var(--nord0) !important;
  background-color: var(--nord4) !important;
}

.light .score-row > td.cell-selected {
  border-color: var(--nord1);
  color: var(--nord4) !important;
  background-color: var(--nord1) !important;
}

.dark .score-row.row-selected {
  background-color: var(--nord3) !important;
}

.light .score-row.row-selected {
  background-color: var(--nord6) !important;
}

button {
  font-size: calc(1rem + 1.5vmin);
  cursor: pointer;
  outline: inherit;
  margin-left: 4px;
  margin-right: 4px;
  border-style: solid;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.dark button {
  border-color: var(--nord3);
  background-color: var(--nord2);
  color: var(--nord4);
}

.light button {
  border-color: var(--nord3);
  background-color: var(--nord5);
  color: var(--nord0);
}

/* .dark button:hover { */
/*   background-color: var(--nord3); */
/* } */

/* .light button:hover { */
/*   background-color: var(--nord3); */
/* } */

button.green {
  color: var(--nord7);
}

button.red {
  color: var(--nord12);
}

button.neutral:active {
  transition-duration: 40ms;
}

.dark button.neutral:active {
  background-color: var(--nord0);
}

.light button.neutral:active {
  background-color: var(--nord4);
}

button.green:active {
  background-color: var(--nord14);
  transition-duration: 40ms;
}

button.red:active {
  background-color: var(--nord11);
  transition-duration: 40ms;
}

button.left-button {
  margin-right: 0;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button.right-button {
  margin-left: 0;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button.activated {
  background-color: var(--nord10);
}

button.die {
  font-size: 15vmin;
  outline: none;
  border: none;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0;
  box-sizing: content-box;
  background-color: transparent;
  transition-duration: 0.4s;
}

.dark button.die {
  background-color: transparent;
}

.light button.die {
  background-color: transparent;
}

.dark button.die:hover {
  color: var(--nord5);
}

.light button.die:hover {
  color: var(--nord2);
}

.chosen {
  font-size: calc(2rem + 1.5vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(2rem + 1.5vmin);
}

.dark .chosen {
  background-color: var(--nord1);
}

.light .chosen {
  background-color: var(--nord5);
}

.dice-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
